<div class="books-page">

    <!-- Page Header -->
    <app-page-header title="Books" description="Manage your book inventory">
        <button class="blue-button" type="button" (click)="goToAddBook()">
            <span class="button-text">
                {{buttonText}}
            </span>
        </button>
    </app-page-header>

    <!-- Search / Filters / Sort -->
    <app-search-input
        (searchBooks)="onSearchBooks($event)"
        (searchCriteriaChange)="onSearchCriteriaChanged($event)"
        (searchFailed)="onSearchFailed($event)"></app-search-input>

    <!-- Books Table -->
    @if(isLoading){
    <p role="status">Loading books...</p>
    } @else if(errorMessage){
    <p role="alert">{{errorMessage}}</p>
    } @else {
    <app-data-table [books]="books" [currentPageNumber]="currentPageNumber" [pageSize]="pageSize" ></app-data-table>
    }

    <!-- Pagination -->
    <app-pagination (pageChanged)="onPageChanged($event)" [currentPageNumber]="currentPageNumber" [totalPages]="totalPages"></app-pagination>

</div>