/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@600;700&display=swap');

html,
body {
  font-family: 'Inter', sans-serif;
}

/* styles.css */

html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
   color: #172033;
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}





/* =========================================
   Add New Book Button
   ========================================= */

.blue-button {
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;

  padding: 0 17px;

  border: none;
  border-radius: 6px;

  background: #1675df;

  color: #ffffff;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  white-space: nowrap;

  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}


/* =========================================
   Button Hover
   ========================================= */

.blue-button:hover {
  background: #1267c5;

  box-shadow: 0 3px 8px rgba(22, 117, 223, 0.25);
}


/* =========================================
   Button Active
   ========================================= */

.blue-button:active {
  transform: translateY(1px);
}


/* =========================================
   Responsive
   ========================================= */

@media (max-width: 768px) {

  .blue-button {
    height: 35px;

    padding: 0 14px;

    font-size: 13px;
  }
}


@media (max-width: 520px) {

  .blue-button {
    padding: 0 11px;
  }

  .button-text {
    display: none;
  }
}