<div class="books-page">

    <!-- Page Header -->
    <app-page-header title="Books" description="Manage your book inventory">
        <button class="blue-button" type="button" (click)="goToAddBook()">
            <span class="button-text">
                {{buttonText}}
            </span>
        </button>
    </app-page-header>

    <!-- Search / Filters / Sort -->
    <app-search-input></app-search-input>

    <!-- Books Table -->
    @if(isLoading){
    <p role="status">Loading books...</p>
    } @else if(errorMessage){
    <p role="alert">{{errorMessage}}</p>
    } @else {
    <app-data-table [books]="books"></app-data-table>
    }

    <!-- Pagination -->
    <app-pagination></app-pagination>

</div>
